.projectDiv {
  background-color: #1f2731;
  border-radius: 1%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  width: 80%;
  text-align: justify;
}

.projectDiv:hover {
  transform: translateY(-1rem);
  animation-timing-function: ease;
}

.projectDiv:hover .projectTitle {
  color: #6719ff;
}

.projectDiv:hover .projectLink {
  color: #6719ff;
}

.projectImage {
  width: 10%;
  margin-left: 10%;
  margin-right: auto;
}

.projectTitle {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.projectLink {
  color: #3a434a;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.projectDescription {
  color: #71767a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }

.projectTools {
  color: #71767a8f;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
