.projectDiv {
  background-color: #1f2731;
  height: auto;
  border-radius: 1rem;
  padding: 2rem 0;
  margin: 5% auto;
  display: block;
  text-decoration: none;
  width: 80%;
  text-align: justify;
}

.projectDiv:hover {
  transform: translateY(-1rem);
  animation-timing-function: ease;
}

.projectDiv:hover .projectTitle {
  color: #6719ff;
}

.projectIcon {
  width: 2rem;
  margin: 0 10%;
}

.projectTitle {
  color: white;
  margin: 1rem auto;
  width: 80%;
}

.projectDescription {
  color: #71767a;
  width: 80%;
  margin: 1rem auto;
}

.projectLink {
  color: #3a434a;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.projectLink:hover{
  color: #6719ff;
}

.projectTools {
  color: #71767a8f;
  width: 80%;
  margin: 1rem auto;
}
