.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
}

.email {
  font-size: 3vh;
  margin: 0;
  color: #6719ff;
}

label {
  color: #dbdcda;
  font-size: 3vh;
}

input {
  width: 100%;
  background-color: #1f2731;
  color: white;
  border-radius: 10px;
  border-color: white;
  height: 40px;
  font-size: 2vh;
}
label:nth-of-type(1) {
  margin-top: 5%;
}

label:nth-of-type(2) {
  margin-top: 5%;
}

textarea {
  height: 100px;
  width: 100%;
  background-color: #1f2731;
  color: white;
  border-radius: 10px;
  border-color: white;
  font-size: 2vh;
}

.ContactSend {
  margin-top: 5%;
  background-color: #1f2731;
  height: 5vh;
  width: 30%;
  border-radius: 10%;
  border-color: white;
  color: #dbdcda;
  text-align: center;
  text-decoration: none;
  font-size: 3vh;
  margin-bottom: 10%;
}
