#nav {
  height: 8vh;
}

.nav__title {
  text-decoration: none;
  color: white;
}

.nav__title:hover {
  font-size: 110%;
  color: #6719ff;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link:hover {
  font-size: 115%;
  color: #6719ff;
}
