.navBar {
  height: 8vh;
  position: fixed;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.titleLink:hover {
  font-size: 110%;
}

.navigationLink {
  text-decoration: none;
  color: white;
}

.navigationLink:hover {
  font-size: 115%;
}
