.navBar {
  height: 8vh;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.titleLink:hover {
  font-size: 110%;
  color: #6719ff;  
}

.navigationLink {
  text-decoration: none;
  color: white;
}

.navigationLink:hover {
  font-size: 115%;
  color: #6719ff;

}
