.aboutDescription {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
}

.aboutHeader {
  font-size: 3vh;
  margin: 0;
  color: #6719ff;
}

.aboutParagraph {
  color: #71767a;
  font-size: 1.3em;
}
