.aboutDescription{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.aboutHeader{
    font-size: 2rem;
    margin: 0;
    color: #6719ff;
}

.aboutParagraph{
    color: #71767a;
    font-size: 1.3rem;
}