.hobbiesContainer {
  margin-top: 20%;
  margin-left: 15%;
  margin-right: auto;
  max-width: fit-content;

}

.hobbiesBox {
  text-align: left;
  padding-left: 5%;
  padding-right: auto;
  padding-top: 5%;
}

.hobbyIcon {
  color: white;
  font-size: 110%;
}

.hobbyTitle {
  display: inline;
  color: white;
}

.hobbyDescription {
  color: #71767a;
  font-size: 1.3em;
  width: 80%;
}
